<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>842937312335-k89mh4osmq31shhrj9dcdtgbq6if57eh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842937312335-k89mh4osmq31shhrj9dcdtgbq6if57eh</string>
	<key>API_KEY</key>
	<string>AIzaSyBGxFN4dVFGR4webRqmdPatx0cqIFwakbU</string>
	<key>GCM_SENDER_ID</key>
	<string>842937312335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Dominant.DominantStocks</string>
	<key>PROJECT_ID</key>
	<string>dominant-5f0f9</string>
	<key>STORAGE_BUCKET</key>
	<string>dominant-5f0f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842937312335:ios:1834cc2f91897f7d</string>
	<key>DATABASE_URL</key>
	<string>https://dominant-5f0f9.firebaseio.com</string>
</dict>
</plist>